<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <button type="button" (click)="TestLog()">Console Log</button>
  <button type="button" (click)="ErrorLog()">Error Log</button>
  <button type="button" (click)="InfoLog()">Info Log</button>
  <button type="button" (click)="FatalLog()">Fatal Log</button>
  <button type="button" (click)="WarnLog()">Warn Log</button>
  <button type="button" (click)="DebugLog()">Debug Log</button>
  <button type="button" (click)="ClearLog()">Clear Log</button>

  <button type="button" (click)="LocalStorageLog()">LocalStorage Log</button>
  <button type="button" (click)="DeleteLocalStorageLog()">Delete LocalStorage Logs</button>

  <button type="button" (click)="ApiLogEntry()">Log to database</button>
  <button type="button" (click)="ClearApiLogs()">Clear database logs</button>
</div>
